<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted</title>
</head>
<body>
    <h2>Class Feedback Survey</h2>
    <p>Hello {{name}},</p>
    <p>Ratings: </p>
    <ul>
        <li>Engagement: {{engg}}</li>
        <li>Teaching: {{teach}}</li>
        <li>Environment: {{env}}</li>
    </ul>
    <p>Overall, you rated the class a score of {{avg}}</p>
</body>
</html>